/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.production
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/_preprod
.DS_Store
*/.DS_Store

storage/debugbar/*
