/* GLOBAL */
svg {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

svg .bubble {
    position: absolute;
}

svg .bubble:nth-of-type(even) {
    -webkit-animation: floating-1 25s infinite linear;
    animation: floating-1 25s infinite linear;
    transform-origin: center;
}

svg .bubble:nth-of-type(even) {
    -webkit-animation: floating-1 25s infinite linear;
    animation: floating-1 25s infinite linear;
    transform-origin: center;
}

svg .bubble:nth-of-type(odd) {
    -webkit-animation: floating-2 15s infinite linear;
    animation: floating-2 15s infinite linear;
    transform-origin: center;
}

@keyframes floating-1 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    33% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    66% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes floating-2 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    33% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    66% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes grow-once {
    0% {
        // transform: scaleY(0);
        height: 0px;
    }

    100% {
        // transform: scaleY(1);
        height: 13px;
    }
}

@keyframes chart-grow {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }

.animate-grow {
    position: relative;
    display: block;
    overflow: hidden;
}
.animate-grow > * {
    animation: chart-grow 1s ease-out infinite;
    transform-origin: bottom;
}
