@use './animate-svg.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@layer base {
    html, body {
      font-family: 'FiraCode', monospace, sans-serif;
      font-size: 0.95rem;
      @apply text-white;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: 'Space Mono', monospace, sans-serif;
        letter-spacing: normal;
        font-weight: bold;
    }


    .p-relative{
        position: relative;
    }
    b{font-weight: normal;}
}

.container{
    @apply px-8;
    overflow:hidden;
}
a, button{
    cursor: pointer;
}

hr{
    border: 0;
    margin: 3rem auto;
    height: 1px;
    background: linear-gradient(to left, transparent, theme('colors.gray') 10%, theme('colors.gray') 90%, transparent 100%);
}

.x-center{
    left: 50%;
    transform: translateX(-50%);
}

.y-center{
    top: 50%;
    transform: translateY(-50%);
}

.x-center.y-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grecaptcha-badge{
    display: none !important;
}

.underline,
.hover:underline:hover {
    position: relative;
    display: inline-block;
    text-decoration-line: none;
    &:after{
        content: '';
        position: absolute;
        top: 100%; left: 0;
        background: linear-gradient(to left, transparent, theme('colors.gray') 10%, theme('colors.gray') 90%, transparent 100%);
        width: 100%;
        height: 1px;
    }
}

.animate-spin {
    animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* BACKGROUND */
.background {
    background-image: repeating-linear-gradient(315deg,theme('colors.gray') 0,theme('colors.gray') 1px,theme('colors.blue-dark') 0,theme('colors.blue-dark') 50%);
    background-color: var(--color-blue);
    background-size: 10px 10px;
    @apply border-x border-gray
}

/* BUTTONS */
button, a{
    position: relative;
}

[data-element^="line-"]{
    &[data-element^="line-horizontal"] {
        background: linear-gradient(to left, transparent, theme('colors.gray') 10%, theme('colors.gray') 90%, transparent 100%);
    }

    &[data-element^="line-vertical"] {
        background: linear-gradient(to bottom, transparent, theme('colors.gray') 10%, theme('colors.gray') 90%, transparent 100%);
    }
}

/** Article page */

.article-content h1{
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 2.5rem;
}

.article-content h2{
    margin-bottom: .75rem;
    margin-top: 2rem;
    font-size: 2rem;
}
.article-content h3{
    margin-bottom: .75rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.article-content h2 + h3{
    margin-top: 0;
}
.article-content h4{
    margin-bottom: .5rem;
    margin-top: 2rem;
    font-size: 1.25rem;
}
.article-content h5{
    margin-bottom: .5rem;
    margin-top: 2rem;
    font-size: 1.15rem;
}
.article-content h6{
    margin-bottom: .5rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.article-content p{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.article-content a{
    text-decoration: underline;
}

.article-content img{
    margin: 1rem auto;
    max-width: 100%;
}

.article-content table{
    width: 100%;
}

.article-content iframe{
    max-width: 100%;
    margin: 1rem auto;
}

.article-content blockquote{
    @apply border border-gray text-white px-8 pt-4 pb-2 mb-4;
}

.article-content pre{
    position : relative;
    margin-bottom: 0.5rem;
}

.article-content pre:before{
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke="%23EBB100" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z" /></svg>');
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 50%;
    left: -0.5rem;
    transform: translateY(-50%);
}

.article-content pre code{
    display: block;
    padding: 1rem 1.5rem;
}

.article-content code{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    overflow: auto;
    font-size: 80%;
    @apply bg-blue px-8 py-4;
}

.article-content ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


/** Article box */
.article h3{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
