/** Article page */

.article-content h1{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.article-content h2{
    margin-bottom: .75rem;
    margin-top: 2rem;
}
.article-content h3{
    margin-bottom: .75rem;
    margin-top: 2rem;
}
.article-content h2 + h3{
    margin-top: 0;
}
.article-content h4{
    margin-bottom: .5rem;
    margin-top: 2rem;
}
.article-content h5{
    margin-bottom: .5rem;
    margin-top: 2rem;
}
.article-content h6{
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.article-content p{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.article-content a{
    text-decoration: underline;
}

.article-content img{
    margin: 1rem auto;
    max-width: 100%;
}

.article-content table{
    width: 100%;
}

.article-content iframe{
    max-width: 100%;
    margin: 1rem auto;
}

.article-content blockquote{
    @apply border border-gray text-white px-8 pt-4 pb-2 mb-4;
}

.article-content pre{
    position : relative;
    margin-bottom: 0.5rem;
}

.article-content pre:before{
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke="%23EBB100" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z" /></svg>');
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 50%;
    left: -0.5rem;
    transform: translateY(-50%);
}

.article-content pre code{
    display: block;
    padding: 1rem 1.5rem;
}

.article-content code{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    overflow: auto;
    font-size: 80%;
    @apply bg-blue px-8 py-4;
}

.article-content ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


/** Article box */
.article h3{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
