.animation-sliding-img-up-1 {
    animation: sliding-img-up-1 30s linear infinite;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: sliding-img-up-1
}

.animation-sliding-img-down-1 {
    animation: sliding-img-down-1 30s linear infinite;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: sliding-img-down-1
}

.animation-sliding-img-up-2 {
    animation: sliding-img-up-2 30s linear infinite;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: sliding-img-up-2
}

@keyframes sliding-img-up-1 {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-722px)
    }
}

@keyframes sliding-img-up-2 {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-1098px)
    }
}

@keyframes sliding-img-down-1 {
    0% {
        transform: translateY(-1161px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes sliding-img-down-2 {
    0% {
        transform: translateY(-1389px)
    }

    to {
        transform: translateY(0)
    }
}

@media (min-width: 640px) {
    @keyframes sliding-img-up-1 {
        0% {
            transform:translateY(0)
        }

        to {
            transform: translateY(-936px)
        }
    }

    @keyframes sliding-img-up-2 {
        0% {
            transform: translateY(0)
        }

        to {
            transform: translateY(-1438px)
        }
    }

    @keyframes sliding-img-down-1 {
        0% {
            transform: translateY(-1511px)
        }

        to {
            transform: translateY(0)
        }
    }

    @keyframes sliding-img-down-2 {
        0% {
            transform: translateY(-1135px)
        }

        to {
            transform: translateY(0)
        }
    }
}

@media (min-width: 1024px) {
    @keyframes sliding-img-up-1 {
        0% {
            transform:translateY(0)
        }

        to {
            transform: translateY(-615px)
        }
    }

    @keyframes sliding-img-up-2 {
        0% {
            transform: translateY(0)
        }

        to {
            transform: translateY(-928px)
        }
    }

    @keyframes sliding-img-down-1 {
        0% {
            transform: translateY(-986px)
        }

        to {
            transform: translateY(0)
        }
    }

    @keyframes sliding-img-down-2 {
        0% {
            transform: translateY(-928px)
        }

        to {
            transform: translateY(0)
        }
    }
}
