@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "Outfit";
    src: url("../../public/fonts/Outfit-Bold.ttf");
} */

/* @font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("../../public/fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: url("../../public/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-style: italic;
    src: url("../../public/fonts/Roboto-Italic.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
    src: url("../../public/fonts/Roboto-BoldItalic.ttf");
} */

@layer base {
    html {
      font-family: 'Roboto', system-ui, sans-serif;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: 'Outfit', sans-serif;
    }

    .p-relative{
        position: relative;
    }
}

hr{
    margin: 3rem auto;
}

.grecaptcha-badge{
    display: none !important;
}

/* .x-center{
    left: 50%;
    transform: translateX(-50%);
}

.y-center{
    top: 50%;
    transform: translateY(-50%);
}

.x-center.y-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px){
    .md\:x-center{
        left: 50%;
        transform: translateX(-50%);
    }
    
    .md\:y-center{
        top: 50%;
        transform: translateY(-50%);
    }
    
    .md\:x-center.md\:y-center{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .md\:x-auto{
        left: inherit;
        transform: translateX(0);
    }

    .md\:y-auto{
        top: inherit;
        transform: translateY(0%);
    }

    .md\:x-auto.md\:y-auto{
        top: inherit;
        left: inherit;
        transform: translate(0, 0);
    }
} */


/* CURSOR */
*{
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%231940FF'/%3E%3C/svg%3E") 8 8, auto;
}

.bg-blue, .bg-blue *,
.bg-blue-dark, .bg-blue-dark *{
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ebb100'/%3E%3C/svg%3E") 8 8, auto;
}


a, a *,
button, button *{
    cursor: url("/img/cursors/hand.svg") 10 10, auto !important;
}

@import "animate-svg";
