@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Roboto', system-ui, sans-serif;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: 'Outfit', sans-serif;
    }

    .p-relative{
        position: relative;
    }
}

hr{
    margin: 3rem auto;
}

.x-center{
    left: 50%;
    transform: translateX(-50%);
}

.y-center{
    top: 50%;
    transform: translateY(-50%);
}

.x-center.y-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grecaptcha-badge{
    display: none !important;
}

/* CURSOR */
*{
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%231940FF'/%3E%3C/svg%3E") 8 8, auto;
}

.bg-blue, .bg-blue *,
.bg-blue-dark, .bg-blue-dark *{
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ebb100'/%3E%3C/svg%3E") 8 8, auto;
}


a, a *,
button, button *{
    cursor: url("/img/cursors/hand.svg") 10 10, auto !important;
}

input[type="text"], textarea{
    cursor: text;
}


svg {
    display: inline-block;
    vertical-align: middle;
}
@import "animate-svg";

@import "article";
