.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6
{
    color: #001A9E;
}

.article-content h1{
    font-size: 1.875rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.article-content h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.article-content h3{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.article-content h4{
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.article-content h5{
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.article-content h6{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.article-content p{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.article-content a{
    text-decoration: underline;
}

.article-content img{
    margin: 1rem auto;
    max-width: 100%;
}

.article-content table{
    width: 100%;
}

.article-content iframe{
    max-width: 100%;
    margin: 1rem auto;
}
