/** Article page */
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6
{
    color: #001A9E;
}

.article-content h1{
    font-size: 1.875rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.article-content h2{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    margin-top: 2rem;
}
.article-content h3{
    font-size: 1.25rem;
    margin-bottom: .5rem;
    margin-top: 2rem;
}
.article-content h2 + h3{
    margin-top: 0;
}
.article-content h4{
    font-size: 1.125rem;
    margin-bottom: .5rem;
    margin-top: 2rem;
}
.article-content h5{
    font-size: 1rem;
    margin-bottom: .5rem;
    margin-top: 2rem;
}
.article-content h6{
    font-size: 1rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.article-content p{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.article-content a{
    text-decoration: underline;
}

.article-content img{
    margin: 1rem auto;
    max-width: 100%;
}

.article-content table{
    width: 100%;
}

.article-content iframe{
    max-width: 100%;
    margin: 1rem auto;
}

.article-content blockquote{
    position: relative;
    margin: 2.5rem 0 2.5rem 2rem;
    padding: 2.5rem 3rem 2.5rem 4rem;
    background-color: rgb(241, 245, 249);
    text-align: left;;
}

.article-content blockquote:before{
    content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 506 417.36'%3E%3Cdefs%3E%3ClinearGradient x1='339.73' y1='-29.24' x2='329.29' y2='-929.29' gradientTransform='translate(0 560)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23eee'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M-204-101.7H696v600H-204Z' style='fill: none'/%3E%3Cellipse cx='335.55' cy='170.28' rx='170.45' ry='169.92' style='fill: %23f9f9f9'/%3E%3Cpath d='M394.75,144.18C394.75,64.57,330,0,250.15,0S105.23,65.06,105.56,144.67A144,144,0,0,0,147.69,246c20.17,20.27,35.08,45.11,42.46,72.74l11.64,43h94.76l11-40.7a165.15,165.15,0,0,1,43.78-74,143.34,143.34,0,0,0,43.44-102.83Z' style='fill: %23ebb100'/%3E%3Cpath d='M249.5,413.41a47,47,0,0,1-47.05-46.91v-9.15h94.1v9.15a46.92,46.92,0,0,1-46.93,46.91Z' style='fill: %23fff;stroke: %23e1e4e5;stroke-width: 4.590000152587891px'/%3E%3Cpath d='M299.17,378H199.65a3.76,3.76,0,1,1,0-7.52h99.53a3.71,3.71,0,0,1,3.77,3.63v.13A3.94,3.94,0,0,1,299.17,378Zm.66,16H200.31a3.76,3.76,0,1,1,0-7.52h99.53a3.71,3.71,0,0,1,3.77,3.63v.13a3.81,3.81,0,0,1-3.77,3.78Z' style='fill: %23e1e4e5'/%3E%3Cpath d='M191.05,166.6a15.23,15.23,0,0,0-7.82,2.06c-3,1.78-5.52,5.34-7.08,10a34.26,34.26,0,0,0-1.24,15.64c2.94,19.31,19,40.15,55.79,46.12-2.26-21.8-6-41.34-12-53Zm0,0a21,21,0,0,1,5.63.8m-5.63-.8,5.63.8m0,0c8.48,2.43,16.79,9.84,22,20.06Zm69.26,184.83.08,1.67h6.45l-.07-1.82V352c-.11-2.6-2.37-57.93,1.9-105.47,40.32-6,58.84-29.11,62.19-51.32a39.81,39.81,0,0,0-1.57-18.73c-1.92-5.55-5.19-10.26-9.58-12.87-5.25-3.13-11.53-3.71-18.08-1.84-10.25,2.92-19.77,11.61-25.68,23h0c-6.64,12.93-10.58,33.95-12.82,56.53a150.14,150.14,0,0,1-32,0c-2.27-22.62-6.17-43.61-12.81-56.51h0c-5.9-11.42-15.43-20.11-25.68-23-6.54-1.87-12.82-1.29-18.07,1.84-4.41,2.61-7.68,7.32-9.6,12.87A40.07,40.07,0,0,0,169,195.23h0c3.36,22.18,21.88,45.27,62.2,51.31,4.26,47.54,2,102.87,1.9,105.48v.08l-.07,1.82h6.46l.08-1.67c.16-3.4,1.95-57.5-2.24-105,4.84.48,10,.75,15.43.75,5.15,0,10.3-.24,15.42-.74C264.05,294.74,265.78,348.86,265.94,352.23Zm9-111.77c2.25-21.8,6-41.36,12-53,5.29-10.23,13.57-17.66,22-20.06h0a20.1,20.1,0,0,1,5.61-.83,14.88,14.88,0,0,1,7.81,2.09h0c3,1.78,5.53,5.34,7.08,10a34.12,34.12,0,0,1,1.25,15.64c-2.94,19.29-19.05,40.15-55.79,46.12Z' style='fill: %23fff;stroke: %23fff;stroke-width: 3.489000082015991px'/%3E%3Cpath d='M364.09,137.61a6.92,6.92,0,0,1-6.9-6.94v-.06c0-43.18-28.87-80.7-70.2-91.29a7,7,0,0,1-5-8.45,6.87,6.87,0,0,1,8.3-5l.07,0C337.82,38,371,81.1,371,130.64a6.92,6.92,0,0,1-6.84,7h-.05ZM268.62,36.3a7,7,0,1,0-6.89-7.11v.11a6.92,6.92,0,0,0,6.84,7Z' style='fill: %23fff'/%3E%3Cpath d='M107.2,225.48H41.81a2.14,2.14,0,0,0-2.14,2.14h0a2.14,2.14,0,0,0,2.14,2.14H107.2a2.14,2.14,0,0,0,2.15-2.13h0A2.15,2.15,0,0,0,107.2,225.48Z' style='fill: %23e1e4e5'/%3E%3Cpath d='M81.47,152.59H17.15A2.14,2.14,0,0,0,15,154.73h0a2.14,2.14,0,0,0,2.14,2.14H81.47a2.14,2.14,0,0,0,2.15-2.13h0a2.14,2.14,0,0,0-2.14-2.14Z' style='fill: %23e1e4e5'/%3E%3Cpath d='M138.29,266.22H72.9a2.14,2.14,0,0,1-2.14-2.14h0a2.14,2.14,0,0,1,2.13-2.15h65.4a2.15,2.15,0,0,1,2.15,2.15h0a2.14,2.14,0,0,1-2.14,2.14Z' style='fill: %23e1e4e5'/%3E%3Cpath d='M83.62,116.14H46.1A2.14,2.14,0,0,0,44,118.3h0a2.15,2.15,0,0,0,2.15,2.15H83.67a2.14,2.14,0,0,0,2.14-2.14h0a2.14,2.14,0,0,0-2.12-2.16Z' style='fill: %23e1e4e5'/%3E%3Cpath d='M159.73,302.67H123.28a2.14,2.14,0,0,1-2.14-2.14h0a2.14,2.14,0,0,1,2.13-2.15h36.46a2.15,2.15,0,0,1,2.15,2.15h0a2.14,2.14,0,0,1-2.14,2.14Z' style='fill: %23e1e4e5'/%3E%3Cpath d='M95.41,79.69H59a2.14,2.14,0,0,0-2.14,2.14h0A2.14,2.14,0,0,0,59,84H95.45a2.14,2.14,0,0,0,2.14-2.14h0a2.14,2.14,0,0,0-2.14-2.14Z' style='fill: %23e1e4e5'/%3E%3Cpath d='M120.07,43.24H83.62a2.14,2.14,0,0,0-2.14,2.14h0a2.14,2.14,0,0,0,2.13,2.15h36.46a2.14,2.14,0,0,0,2.14-2.14h0a2.14,2.14,0,0,0-2.14-2.14Z' style='fill: %23e1e4e5'/%3E%3Cpath d='M172.6,6.79H136.15A2.14,2.14,0,0,0,134,8.93h0a2.14,2.14,0,0,0,2.13,2.15H172.6a2.14,2.14,0,0,0,2.14-2.14h0a2.14,2.14,0,0,0-2.14-2.14Z' style='fill: %23e1e4e5'/%3E%3Cpath d='M89,189H2.14A2.14,2.14,0,0,0,0,191.17H0a2.14,2.14,0,0,0,2.14,2.14H89a2.14,2.14,0,0,0,2.14-2.14h0A2.14,2.14,0,0,0,89,189Z' style='fill: %23e1e4e5'/%3E%3C/svg%3E");
    position: absolute;
    width: 6rem;
    top: 50%;
    left: -3rem;
    transform: translateY(-50%);
}

.article-content pre{
    margin-bottom: 0.5rem;
}

.article-content pre code{
    display: block;
    padding: 1rem 1.5rem;
}

.article-content code{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    overflow: auto;
    font-size: 80%;
    padding: .05rem .25rem;
    background-color: rgb(241, 245, 249);
}

.article-content ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
