<If "req('Host') = 'updaz.fr'">
    ErrorDocument 401 "Authorisation Required"
    AuthType Basic
    AuthName "Veuillez entrer vos identifiants"
    AuthUserFile /home/u641567625/domains/updaz.fr/public_html/preprod/.htpasswd
    Require user UpDaz
    Satisfy All
</If>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php
</IfModule>
